body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ====================================
  Global Specific CSS
===================================== */
#root, html, body, .container-fluid, .splash-screen {
  height:100vh;
}

body {
  overflow-x:hidden;
}

.text-center-align {
  text-align:center;
}

/* ====================================
  Bootstrap Override
===================================== */
.container-fluid {
  padding-left:0px !important;
  padding-right:0px !important;
}

.row { 
  margin-left:0px !important;
  margin-right:0px !important;
}

.navbar-toggler {
  font-size:0.9em !important;
}

.navbar-brand {
  font-size:0.9em !important;
}


/* ====================================
  Scribbliator Homepage
===================================== */
.splash-screen {
  background-image:url(../images/scribbliator-home-3.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center;
  background-size:cover;
}

.scribbliator-homepage {
  text-align:center;
  height:65.0vh;

  position:absolute;
  left:0px; right:0px; top:0px; bottom:0px;
  margin:auto;
}

.scribbliator-memberpage {
  width:100.0vw;
  height:100.0vh;
  
  position: absolute;
  left:0px; right:0px; top:0px; bottom:0px;
  margin:auto;
}

.main-footer {
  position:fixed;
  left:0px; bottom:0px;

  width:100%; 

  text-align:center;
  background-color:rgba(0,0,0,0.3);
}

/* ====================================
  Scribbliator Theme
===================================== */
h1.appTitle {
  font-family:'Girassol', cursive;
  text-shadow:0px 3px 6px white;
  letter-spacing:5px;
  margin-bottom:0.5em;
}

p.slogan {
  text-align:center;
}

form {
  max-width:500px;
  margin:auto;
}

.white-shadow {
  text-shadow:
    0px 0px 3px white, 
    1px 1px 2px white, 
    1px 1px 1px white;
}

.main-logo {
  width:40px;
}

.float-right {
  float:right;
}

/* ====================================
  Scribbliator MEDIA QUERY
===================================== */
@media (orientation:portrait) {
  .debug { background-color:pink; }

  p.slogan    { font-size:2.2vh; }
  h1.appTitle { font-size:5.5vh; }

  .nav-item   { font-size:2.2vh; }
  .main-footer{ font-size:1.3vh; height:3.5vh; line-height:3.5vh; }
  
  div.profileCase { padding-left:5vw; padding-right:5vw; }
}

@media (orientation:portrait) and (max-width:767px) {
  .debug { background-color:rgba(148, 255, 148, 0.8 ); }

  div.profileCase { 
    width:100%;
    padding-top:10vh;  
  }
}

@media (orientation:portrait) and (min-width:768px) {
  .debug { background-color:rgba(148, 255, 148, 0.5 ); }
  
  div.profileCase { 
    width:100%;
    padding-top:12vh;
  }
}



/* iPhone X, iPhone 6/7/8/Plus, iPhone 5/SE */
/* Pixel 2 XL, Pixel 2, Galaxy 5 */
@media (orientation: landscape) {
  .debug { background-color:cyan !important; }

  p.slogan    { font-size:1.7vw; }
  h1.appTitle { font-size:5.0vw; }

  .nav-item   { font-size:1.8vw; margin-right:0.9em; }
  .main-footer{ font-size:0.9vw; height:2.7vw; line-height:2.7vw; }
}


/* Landscape (0px - 1024px) */
@media (orientation: landscape) and (max-width:1024px) {
  .debug { background-color:rgba( 255, 255, 148, 0.5 ) !important; }

  div.profileCase { 
    width:100%; 
    padding:13vw 20px 0px 20px 
  }
}

/* Landscape (1025px - 1366px ) iPad Pro */
@media (orientation:landscape) and (min-width:1025px) and (max-width:1366px) {
  .debug { background-color:rgba( 255, 148, 255, 0.5 ) !important; }

  div.profileCase { 
    width:100%; 
    padding:10vh 5vw 0px 5vw 
  }
}

/* YOUR DESKTOP */
@media (orientation: landscape) and (min-width: 1367px) {
  .debug { background-color: blueviolet !important; }
  .nav-item   { font-size:1.2vw; margin-right:1.7em; }

  div.profileCase { 
    width:1366px; 
    padding:10vh 5vw 0px 5vw 
  }
}




/* ====================================
  Scribbliator User Profile Screen
===================================== */
div.profileContainer {
  width:100vw;
  height:100vh;
  background-color:rgba(240, 240, 240, 1.0);
}

div.profileCase {
  height:100%;
  margin:auto;
  padding-bottom:8vh;

  /* background-color:red; */
}

.FlexLayout .colA {
  min-width:250px;
  border-right:1px solid rgba( 0, 0, 0, 0.3 );
  /* background-color:blue; */
}

.FlexLayout .colB {
  width:100%;
  background-color:yellow;
}

div.FlexLayout {
  display:flex;

}

ul.profileCategoryList {
  list-style: none;
  margin:0px; padding:20px;
}

ul.profileCategoryList li {
  width:100%;
  padding:1.8vh;

  margin-bottom:15px;

  border:2px solid rgba(0, 0, 0, 0.3);
  border-radius:5px;

  box-shadow:0px 1px 0px rgba(0, 0, 0, 0.2);
}